.copyright_item {
    font-size: small;
}
.list-group-item {
    padding-top: 5px;
    padding-bottom: 6px;
    font-size: smaller;
    border: none;
    color: black;
}
body {
    background-color: #f6f6f6;
}
.bi-caret-right-fill {
    font-size: 10px;
}
a {
    text-decoration: none;
}
.btn-bd-info {
    font-weight: 600;
    color: #ffe484;
    border-color: #ffe484;
}
